.middle-part{
    background-color: gainsboro;
    padding: 40px;
   
}
.middle-part-data{
    padding-top: 40px;
    max-width: 100%;
   
}
.middle-part h1{
    font-size: 30px;
    font-weight: 700;
}
.middle-part p{
    font-size: 19px;
}
.buttonGradiant {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 9px;
    float: left;
    border: none;
    text-decoration: none;
  }
  .button{
    padding-bottom: 40px;
  }
  .footer{
    height: 50px;
    background-color: black;
  }
  .footer P{
    color: white;
    text-align: center;
    padding-top: 10px;
  }